<ul class="dropdown-menu scrollable-menu">
	<li role="presentation" class="dropdown-header">Static Public Methods</li>
	<li><a href="#hAudioStack-Exists"><em>bool</em> <strong>Exists</strong> ()</a></li>
	<li role="presentation" class="divider"></li>
	<li role="presentation" class="dropdown-header">Public Methods</li>
	<li><a href="#hAudioStack-Instance-Add_clip"><em>string</em> <strong>Add</strong> (clip)</a></li>
	<li><a href="#hAudioStack-Instance-Add_clip_createDuplicate"><em>string</em> <strong>Add</strong> (clip, createDuplicate)</a></li>
	<li><a href="#hAudioStack-Instance-Add_item"><em>string</em> <strong>Add</strong> (item)</a></li>
	<li><a href="#hAudioStack-Instance-Add_item_createDuplicate"><em>string</em> <strong>Add</strong> (item, createDuplicate)</a></li>
	<li><a href="#hAudioStack-Instance-IsLoaded_clip"><em>bool</em> <strong>IsLoaded</strong> (clip)</a></li>
	<li><a href="#hAudioStack-Instance-IsLoaded_item"><em>bool</em> <strong>IsLoaded</strong> (item)</a></li>
	<li><a href="#hAudioStack-Instance-IsLoaded_key"><em>bool</em> <strong>IsLoaded</strong> (key)</a></li>
	<li><a href="#hAudioStack-Instance-IsPlaying_clip"><em>bool</em> <strong>IsPlaying</strong> (clip)</a></li>
	<li><a href="#hAudioStack-Instance-IsPlaying_item"><em>bool</em> <strong>IsPlaying</strong> (item)</a></li>
	<li><a href="#hAudioStack-Instance-IsPlaying_key"><em>bool</em> <strong>IsPlaying</strong> (key)</a></li>
	<li><a href="#hAudioStack-Instance-Remove_clip"><em>void</em> <strong>Remove</strong> (clip)</a></li>
	<li><a href="#hAudioStack-Instance-Remove_item"><em>void</em> <strong>Remove</strong> (item)</a></li>	
	<li><a href="#hAudioStack-Instance-Remove_key"><em>void</em> <strong>Remove</strong> (key)</a></li>				
</ul>