<!-- Hydrogen.Core.AudioStack / hAudioStack
 ================================================== -->
 <div class="bs-docs-section">
	<div class="page-header">
		 <h1 id="core-audiostack">Audio Stack</h1>
	</div>
    <div class="lead">A highly optimized 2D {{ site.unity_audioclip }} pooling system built from the ground up for awesomeness. Utilized by studios across a multitude of platforms, this is battle tested and ready to rock!</div>
	<ol class="breadcrumb">
		<li>Components</li>
		<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hydrogen.Core <b class="caret"></b></a>
			{% include bc-component-root.html %}
		</li>
		<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">hAudioStack.cs <b class="caret"></b></a>
			{% include bc-component-audiostack.html %}
		</li>
	</ol>
   
    <h2 id="core-audiostack-overview">Overview</h2>
	<p>From as simple as handling UI sound effects to the managing of a complex ambient soundscape, the {{ site.component_audiostack }} can do it all at the same time! This system allows for anyone to easily play 2D {{ site.unity_audioclips }} on demand or cached in the most optimal way possible. When an {{ site.component_audiostackitem }} is told to be played, the system intelligently picks an available {{ site.unity_audiosource }} to play the {{ site.component_audiostackitem }}, and when completed returns the {{ site.unity_audiosource }} back to the stack for future use.</p>
	<p>The <code>hAudioStack</code> Singleton creates an instance of {{ site.component_audiostack }} which can be globally accessed via <code>hAudioStack.Instance</code>.</p>
	
	<h3 id="core-audiostack-audiostackitem">AudioStackItem</h3>
	<p>The {{ site.component_audiostackitem }} class is a representation of all information related to a particular {{ site.unity_audioclip }} playing, both in and outside of the <code>hAudioStack</code>.</p>
	<p>When you use <a href="#hAudioStack-Instance-Add-clip"><code>hAudioStack.Instance.Add</code></a> and pass it an {{ site.unity_audioclip }}, a new instance of a {{ site.component_audiostackitem }} will be created on the fly for you related to the information passed through arguments to it and subsequently use it appropriately. The class has numerous fields and methods publicly accessible, however it should not often be managed directly as the <code>hAudioStack</code> handles all of it automatically in most cases.</p>
	
	<h2 id="core-audiostack-usage">Usage</h2>
	<p>There really isn't much to using the <code>hAudioStack</code>, it is one of those solutions that is meant to have a very minimal footprint code wise but can be easily expanded on to accommodate for much larger goals. Typically, you are just going to be using <a href="#hAudioStack-Instance-Add_clip"><code>hAudioStack.Instance.Add</code></a> in a fire-and-forget manner to accomplish what you want.</p>
	<div class="bs-callout bs-callout-warning" id="callout-less-compilation">
		<h4>2D AudioClips Only (Sorta!)</h4>
		<p>The {{ site.component_audiostack }} is built to use any 2D {{ site.unity_audioclips }}, as the location of the {{ site.unity_audiosource }} does not matter while playing. However, nothing is stopping you from using 3D {{ site.unity_audioclips }} if you would like, just be aware that the location of the {{ site.unity_audiosource }} is set to a child {{ site.unity_gameobject }}'s position.</p>
	</div>
    
    <h3 id="core-audiostack-public-fields">Public Fields</h3>
    <div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
	          	<tr>
	            	<td>{{ site.msdn_int }}</td>
					<td>MaximumSources</td>
					<td>Maximum number of sources to have in total (Stack + Playing).</td>
				</tr>
	          	<tr>
	            	<td>{{ site.msdn_int }}</td>
					<td>MinimumSources</td>
					<td>Minimum number of sources to have in total (Stack + Playing).</td>
				</tr>							
	          	<tr>
	            	<td>{{ site.msdn_bool }}</td>
					<td>Persistent</td>
					<td>Should the <code>hAudioStack</code> instance (and it's {{ site.unity_gameobject }}) survive scene switches by using <a href="http://docs.unity3d.com/Documentation/ScriptReference/Object.DontDestroyOnLoad.html" target="_blank">GameObject.DontDestroyOnLoad</a>. This will preserve all scripts on its {{ site.unity_gameobject }} as well, so please be aware of that behaviour.</td>
				</tr>
	          	<tr>
	            	<td>{{ site.msdn_bool }}</td>
					<td>UsePriorities</td>
					<td>Should the stack look at the priority of the existing <a href="#core-audiostack-audiostackitem">AudioStackItems</a> playing, and if the stack is full stop the lowest and use it's newly available source to play the new item. It should be noted that this will ignore any playing sources that are set to loop.</td>
				</tr>
			</tbody>
		</table>
  	</div>
  	<h3 id="core-audiostack-properties">Properties</h3>
    <div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Access</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
	            	<td><em>hAudioStack</code></em></td>
	            	<td>get</td>
					<td>Instance</td>
					<td>Returns the static <code>hAudioStack</code> instance (<a href="http://msdn.microsoft.com/en-us/library/ms998558.aspx" target="_blank">Thread Safe Singleton</a>).</td>
				</tr>
				<tr>
	            	<td><em>{{ site.msdn_dictionary }} &#60;{{ site.msdn_string }}, {{ site.component_audiostackitem }}&#62;</em></td>
	            	<td>get</td>
					<td>LoadedItems</td>
					<td>Gets all currently loaded <a href="#core-audiostack-audiostackitem">AudioStackItems</a>.</td>
				</tr>
	          	<tr>
	            	<td><em>{{ site.msdn_int }}</em></td>
	            	<td>get</td>
					<td>SourcesCount</td>
					<td>Returns the number of {{ site.unity_audiosources}} currently being used, based on the number of loaded <a href="#core-audiostack-audiostackitem">AudioStackItems</a>.</td>
				</tr>
			</tbody>
		</table>
  	</div>
    <h3 id="core-audiostack-public-methods">Public Methods</h3>
    
    <!-- hAudioStack.Exists -->
    <h4 id="hAudioStack-Exists">{{ site.msdn_static }} {{ site.msdn_bool }} Exists ()</h4>
    Does a <code>hAudioStack</code> instance exist?
	<div class="bs-arguments text-muted">
     None
    </div>    	
	<div class="method">
{% highlight csharp %}
// Let's see if we are using the hAudioStack component.
if (hAudioStack.Exists ()) {
	// Yes - We are that awesome.
	Debug.Log ("A AudioStack Already Exists");
}
{% endhighlight %}
	</div>  
	<div class="return">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>An instance of <code>hAudioStack</code> already exists. This can be handy to simply check from other classes if <code>hAudioStack</code> is being used.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>An instance of <code>hAudioStack</code> does not exist, and therefore must be created or instantiated via a prefab.</td>
          </tr>
        </tbody>
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.Add -->
    <h4 id="hAudioStack-Instance-Add_clip">{{ site.msdn_string }} Add ({{ site.unity_audioclip }} clip)</h4>
    Add/Load an {{ site.component_audiostackitem }} which is created dynamically from the passed {{ site.unity_audioclip }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.unity_audioclip }}</td>
            <td>clip</td>
            <td>An {{ site.unity_audioclip }} to be used to create a new {{ site.component_audiostackitem }} from.</td>          
          </tr>
        </tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
public AudioClip ourClip;
string _ourKey;

// Let's just use Unity's function for fun.
void Awake ()
{
	// Add (and by default AutoPlay) the clip.
	_ourKey = hAudioStack.Instance.Add (ourClip);
	
	// Show some output love!
	Debug.Log ("Our Assigned Key: " + _ourKey);
}
{% endhighlight %}
	</div>  
	<div class="return">
		 <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>The {{ site.msdn_dictionary }}'s key for future use and reference of the added {{ site.component_audiostackitem }}.</td>        
          </tr>
        </tbody>
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.Add -->
    <h4 id="hAudioStack-Instance-Add_clip_createDuplicate">{{ site.msdn_string }} Add ({{ site.unity_audioclip }} clip, {{ site.msdn_bool }} createDuplicate)</h4>
    Add/Load an {{ site.component_audiostackitem }} which is created dynamically from the passed {{ site.unity_audioclip }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.unity_audioclip }}</td>
            <td>clip</td>
            <td>An {{ site.unity_audioclip }} to be used to create a new {{ site.component_audiostackitem }} from.</td>          
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td>createDuplicate</td>
            <td>Should a duplicate entry be made, even if an existing {{ site.component_audiostackitem }} is found in the AudioStack? Duplicates will have a custom key generated for them at runtime.</td>          
          </tr>
        </tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
public AudioClip ourClip;
string _ourKey;

// Let's just use Unity's function for fun.
void Awake ()
{
	// Add (and by default AutoPlay) the clip.
	_ourKey = hAudioStack.Instance.Add (ourClip, true);
	
	// Show some output love!
	Debug.Log ("Our Assigned Key: " + _ourKey);
}
{% endhighlight %}
	</div>  
	<div class="return">
		 <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>The {{ site.msdn_dictionary }}'s key for future use and reference of the added {{ site.component_audiostackitem }}.</td>        
          </tr>
        </tbody>
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.Add -->
    <h4 id="hAudioStack-Instance-Add_item">{{ site.msdn_string }} Add ({{ site.component_audiostackitem }} item)</h4>
    Add/Load an {{ site.component_audiostackitem }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.component_audiostackitem }}</td>
            <td>item</td>
            <td>An {{ site.component_audiostackitem }} to be added.</td>          
          </tr>
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
public Hydrogen.Core.AudioStackItem ourItem;
string _ourKey;

// Let's just use Unity's function for fun.
void Awake ()
{
	// Fun Stuff -- Cause We Can
	ourItem.PlayOnLoad = false;
	ourItem.Loop = true;
	
	// Add (and by default AutoPlay) the clip.
	_ourKey = hAudioStack.Instance.Add (ourItem);
	
	// Show some output love!
	Debug.Log ("Our Assigned Key: " + _ourKey);
}
{% endhighlight %}
	</div>  
	<div class="return">
		 <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>The {{ site.msdn_dictionary }}'s key for future use and reference of the added {{ site.component_audiostackitem }}.</td>        
          </tr>
        </tbody>
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.Add -->
    <h4 id="hAudioStack-Instance-Add_item_createDuplicate">{{ site.msdn_string }} Add ({{ site.component_audiostackitem }} item, {{ site.msdn_bool }} createDuplicate)</h4>
    Add/Load an {{ site.component_audiostackitem }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.component_audiostackitem }}</td>
            <td>item</td>
            <td>An {{ site.component_audiostackitem }} to be added.</td>          
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td>createDuplicate</td>
            <td>Should a duplicate entry be made, even if an existing {{ site.component_audiostackitem }} is found in the AudioStack? Duplicates will have a custom key generated for them at runtime.</td>          
          </tr>          
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
public Hydrogen.Core.AudioStackItem ourItem;
string _ourKey;

// Let's just use Unity's function for fun.
void Awake()
{
	// Fun Stuff -- Cause We Can
	ourItem.PlayOnLoad = false;
	ourItem.Loop = true;
	
	// Add (and by default AutoPlay) the clip.
	_ourKey = hAudioStack.Instance.Add (ourItem, true);
	
	// Show some output love!
	Debug.Log ("Our Assigned Key: " + _ourKey);
}
{% endhighlight %}
	</div>  
	<div class="return">
		 <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>The {{ site.msdn_dictionary }}'s key for future use and reference of the added {{ site.component_audiostackitem }}.</td>        
          </tr>
        </tbody>
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.IsLoaded -->
    <h4 id="hAudioStack-Instance-IsLoaded_clip">{{ site.msdn_bool }} IsLoaded ({{ site.unity_audioclip }} clip)</h4>
    Determines whether the {{ site.unity_audioclip }} is loaded via a {{ site.component_audiostackitem }} in the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.unity_audioclip }}</td>
            <td>clip</td>
            <td>The target {{ site.unity_audioclip }} to check if found in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
AudioClip ourTarget;

// Let's check it out!
if (hAudioStack.Instance.IsLoaded (ourTarget))
{
	// Yup we got it!
	Debug.Log ("AudioClip Found");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>The {{ site.unity_audioclip }} was found in the {{ site.component_audiostack }}.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>The {{ site.unity_audioclip }} does not exist in the {{ site.component_audiostack }}.</td>
          </tr>
        </tbody>      
      </table>
	</div>  
	
		<!-- hAudioStack.Instance.IsLoaded -->
    <h4 id="hAudioStack-Instance-IsLoaded_item">{{ site.msdn_bool }} IsLoaded ({{ site.component_audiostackitem }} item)</h4>
    Determines whether the {{ site.component_audiostackitem }} is in the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.component_audiostackitem }}</td>
            <td>item</td>
            <td>The target {{ site.component_audiostackitem }} to check if found in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
Hydrogen.Core.AudioStackItem ourTarget;

// Let's check it out!
if (hAudioStack.Instance.IsLoaded (ourTarget))
{
	// Yup we got it!
	Debug.Log ("AudioStackItem Found");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>The {{ site.component_audiostackitem }} was found in the {{ site.component_audiostack }}.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>The {{ site.component_audiostackitem }} does not exist in the {{ site.component_audiostack }}.</td>
          </tr>
        </tbody>      
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.IsLoaded -->
    <h4 id="hAudioStack-Instance-IsLoaded_key">{{ site.msdn_bool }} IsLoaded ({{ site.msdn_string }} key)</h4>
    Determines whether something is loaded in the {{ site.component_audiostack }} by reference to it's key.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>key</td>
            <td>The reference key to check against in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Let's check it out!
if (hAudioStack.Instance.IsLoaded ("myKey"))
{
	// Yup we got it!
	Debug.Log ("Item Found Using Key");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>Something was found in the {{ site.component_audiostack }} using the specified key.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>Nothing was found in the {{ site.component_audiostack }} using the specified key.</td>
          </tr>
        </tbody>      
      </table>
	</div> 

	<!-- hAudioStack.Instance.IsPlaying -->
    <h4 id="hAudioStack-Instance-IsPlaying_clip">{{ site.msdn_bool }} IsPlaying ({{ site.unity_audioclip }} clip)</h4>
    Determines whether the {{ site.unity_audioclip }} is playing via a {{ site.component_audiostackitem }} in the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.unity_audioclip }}</td>
            <td>clip</td>
            <td>The target {{ site.unity_audioclip }} to check if playing in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
AudioClip ourTarget;

// Let's check it out!
if (hAudioStack.Instance.IsPlaying (ourTarget))
{
	// Yup we got it!
	Debug.Log ("AudioClip Playing");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>The {{ site.unity_audioclip }} was playing in the {{ site.component_audiostack }}.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>The {{ site.unity_audioclip }} was not playing in the {{ site.component_audiostack }}.</td>
          </tr>
        </tbody>      
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.IsPlaying -->
    <h4 id="hAudioStack-Instance-IsPlaying_item">{{ site.msdn_bool }} IsPlaying ({{ site.component_audiostackitem }} item)</h4>
    Determines whether the {{ site.component_audiostackitem }} is playing in the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.component_audiostackitem }}</td>
            <td>item</td>
            <td>The target {{ site.component_audiostackitem }} to check if playing in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
Hydrogen.Core.AudioStackItem ourTarget;

// Let's check it out!
if (hAudioStack.Instance.IsPlaying (ourTarget))
{
	// Yup we got it!
	Debug.Log ("AudioStackItem Playing");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>The {{ site.component_audiostackitem }} was playing in the {{ site.component_audiostack }}.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>The {{ site.component_audiostackitem }} was not playing in the {{ site.component_audiostack }}.</td>
          </tr>
        </tbody>      
      </table>
	</div>  
	
	<!-- hAudioStack.Instance.IsPlaying -->
    <h4 id="hAudioStack-Instance-IsPlaying_key">{{ site.msdn_bool }} IsPlaying ({{ site.msdn_string }} key)</h4>
    Determines whether something is playing in the {{ site.component_audiostack }} by reference to it's key.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>key</td>
            <td>The reference key to check against in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Let's check it out!
if (hAudioStack.Instance.IsPlaying ("myKey"))
{
	// Yup we got it!
	Debug.Log ("Item Playing Using Key");
}
{% endhighlight %}
	</div>  
	<div class="return">
		<table class="table table-bordered table-striped">
         <thead>
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-success">true</td>
            <td>Something was playing in the {{ site.component_audiostack }} using the specified key.</td>        
          </tr>
          <tr>
            <td>{{ site.msdn_bool }}</td>
            <td class="text-danger">false</td>
            <td>Nothing was playing in the {{ site.component_audiostack }} using the specified key.</td>
          </tr>
        </tbody>      
      </table>
	</div>
		
	<!-- hAudioStack.Instance.Remove -->
    <h4 id="hAudioStack-Instance-Remove_clip">{{ site.msdn_void }} Remove ({{ site.unity_audioclip }} clip)</h4>
	Removes the specified {{ site.unity_audioclip }} and it's associated {{ site.component_audiostackitem }} from the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.unity_audioclip }}</td>
            <td>clip</td>
            <td>The target {{ site.unity_audioclip }} to be removed from the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
AudioClip targetClip;

// Free up some resources!
hAudioStack.Instance.Remove (targetClip);
{% endhighlight %}
	</div>  
	<div class="return text-muted">
		Nothing
	</div>
	
	<!-- hAudioStack.Instance.Remove -->
    <h4 id="hAudioStack-Instance-Remove_item">{{ site.msdn_void }} Remove ({{ site.component_audiostackitem }} item)</h4>
	Removes the {{ site.component_audiostackitem }} from the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.component_audiostackitem }}</td>
            <td>item</td>
            <td>The target {{ site.component_audiostackitem }} to be removed from the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Example Data
Hydrogen.Core.AudioStackitem targetItem;

// Let's Add It For Kicks.
hAudioStack.Instance.Add (targetItem);

// Free up some resources! Bye bye!
hAudioStack.Instance.Remove (targetItem);
{% endhighlight %}
	</div>  
	<div class="return text-muted">
		Nothing
	</div>
	
	
	<!-- hAudioStack.Instance.Remove -->
    <h4 id="hAudioStack-Instance-Remove_key">{{ site.msdn_void }} Remove ({{ site.msdn_string }} key)</h4>
    Remove the {{ site.component_audiostackitem }} associated to the specified key in the {{ site.component_audiostack }}.
	<div class="bs-arguments">
	  <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ site.msdn_string }}</td>
            <td>key</td>
            <td>The reference key to check against in the {{ site.component_audiostack }}.</td>          
          </tr>   
		</tbody>
      </table>
    </div>    	
	<div class="method">
{% highlight csharp %}
// Removing can be this easy - Sometimes.
hAudioStack.Instance.Remove ("someKey");
{% endhighlight %}
	</div>  
	<div class="return text-muted">
		Nothing
	</div>