
			<ul class="dropdown-menu scrollable-menu">
				<li role="presentation" class="dropdown-header">Static Public Methods</li>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Exists"><em>bool</em> <strong>Exists</strong> ()</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation" class="dropdown-header">Public Methods</li>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Instance-AddCustomEnvironmentInformation_key_data"><em>void</em> <strong>AddCustomEnvironmentInformation</strong> (key, data)</a>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Instance-Log_message"><em>void</em> <strong>Log</strong> (message)</a></li>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Instance-LogAsync_message"><em>void</em> <strong>LogAsync</strong> (message)</a></li>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Instance-PassCheckpoint_checkpoint"><em>void</em> <strong>PassCheckpoint</strong> (checkpoint)</a></li>
				<li><a href="{{ page.base_url }}components/#hTestFlight-Instance-SubmitFeedback_message"><em>void</em> <strong>SubmitFeedback</strong> (message)</a></li>
			</ul>
		