
			<ul class="dropdown-menu scrollable-menu">
				<li role="presentation" class="dropdown-header">Static Public Methods</li>
				<li><a href="#hWebPool-Exists"><em>bool</em> <strong>Exists</strong> ()</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation" class="dropdown-header">Public Methods</li>
				<li><a href="#hWebPool-Instance-Form_URI_formStringData"><em>void</em> <strong>Form</strong> (URI, formStringData)</a>
				<li><a href="#hWebPool-Instance-Form_URI_formStringData_formBinaryData_cookie_callback"><em>void</em> <strong>Form</strong> (URI, formStringData, formBinaryData, cookie, callback)</a></li>
				<li><a href="#hWebPool-Instance-GET_URI"><em>void</em> <strong>GET</strong> (URI)</a></li>
				<li><a href="#hWebPool-Instance-GET_URI_callback"><em>void</em> <strong>GET</strong> (URI, callback)</a></li>
				<li><a href="#hWebPool-Instance-GET_URI_cookie_callback"><em>void</em> <strong>GET</strong> (URI, cookie, callback)</a></li>
				<li><a href="#hWebPool-Instance-POST_URI_contentType_payload"><em>void</em> <strong>POST</strong> (URI, contentType, payload)</a></li>
				<li><a href="#hWebPool-Instance-POST_URI_contentType_payload_cookie_callback"><em>void</em> <strong>POST</strong> (URI, contentType, payload, cookie, callback)</a></li>
			</ul>
		