<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ page.base_url }}assets/js/bootstrap.js"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.base_url }}assets/js/holder.js"></script>

<script src="{{ page.base_url }}assets/js/application.js"></script>

{% if page.slug == "about" %}
<script src="{{ page.base_url }}assets/js/chart.js"></script>
<script src="{{ page.base_url }}assets/js/chart-uas.js"></script>
<script src="{{ page.base_url }}assets/js/chart-loc.js"></script>
{% endif %}
