<!--
<li>
  <a href="#core">Hydrogen.Core</a>
  <ul class="nav">
    <li><a href="#core-audio-stack">Audio Stack/a></li>
    <li><a href="#core-object-pool">Object Pool</a></li>
    <li><a href="#core-object-pool-item">Object Pool Item</a></li>
    <li><a href="#core-web-pool">Web Pool</a></li>
  </ul>
</li>
<li>
  <a href="#peripherals">Hydrogen.Peripherals</a>
  <ul class="nav">
    <li><a href="#peripherals-input">Input</a></li>
  </ul>
</li> -->

<li>
	<a href="#core-audiostack">AudioStack</a>
	<ul class="nav">
		<li>
			<a href="#core-audiostack-overview">Overview</a>
			<ul class="nav">
				<li><a href="#core-audiostack-audiostackitem">AudioStackItem</a></li>  
			</ul>		
		</li>    	
		<li>
			<a href="#core-audiostack-usage">Usage</a>
			<ul class="nav">
				<li><a href="#core-audiostack-public-fields">Public Fields</a></li>
				<li><a href="#core-audiostack-properties">Properties</a></li>
				<li><a href="#core-audiostack-public-methods">Public Methods</a></li>
			</ul>
		</li>
  </ul>
</li>

<li>
	<a href="#core-webpool">WebPool</a>
	<ul class="nav">
		<li><a href="#core-webpool-overview">Overview</a></li>       	
		<li>
			<a href="#core-webpool-usage">Usage</a>
			<ul class="nav">
				<li><a href="#core-webpool-public-fields">Public Fields</a></li>
				<li><a href="#core-webpool-properties">Properties</a></li>
				<li><a href="#core-webpool-public-methods">Public Methods</a></li>
				<li><a href="#core-webpool-public-structs">Public Structs</a></li>
			</ul>
		</li>
		<!--
		<li>
			<a href="#core-webpool-examples">Examples</a>
			<ul class="nav">
				<li><a href="#core-webpool-examples-mailchimp">MailChimp</a></li>
			</ul>
		</li>
		-->		
  </ul>
</li>

<li>
	<a href="#plugins-testflight">TestFlight</a>
	<ul class="nav">
		<li><a href="#plugins-testflight-overview">Overview</a></li>    	
		<li>
			<a href="#plugins-testflight-install">Installation</a>
			<ul class="nav">
				<li><a href="#plugins-testflight-install-ios">iOS Checklist</a></li>
				<li><a href="#plugins-testflight-install-android">Android Checklist</a></li>
			</ul>
			
		</li>
		<li>
			<a href="#plugins-testflight-usage">Usage</a>
			<ul class="nav">
				<li><a href="#plugins-testflight-public-fields">Public Fields</a></li>
				<li><a href="#plugins-testflight-properties">Properties</a></li>
				<li><a href="#plugins-testflight-public-methods">Public Methods</a></li>
			</ul>
		</li>
		
  </ul>
</li>
