<li><a href="#history">History</a></li>
<li><a href="#team">Core Team</a></li>
<li><a href="#thanks">Special Thanks</a></li>
<li>
	<a href="#contributing">Contributing</a>
	<ul class="nav">
		<li><a href="#contributing-bootcamp">Bootcamp</a></li>
		<li><a href="#contributing-format">Code Format</a></li>
		<li><a href="#contributing-conventions">Coding Conventions</a></li>
		<li><a href="#contributing-component">Component Model</a></li>
		<li><a href="#contributing-documentation">Documentation</a></li>
	</ul>
</li>
<li><a href="#future">Future</a></li>